body {
  font-family: 'Poppins', sans-serif;
  background: #0d1117;
  color: #e6edf3;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.folder, .pdf-link {
  display: block;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  cursor: pointer;
  background: #161b22;
  transition: 0.3s;
}

.folder:hover, .pdf-link:hover {
  background: #1f6feb;
  color: white;
}

#breadcrumb {
  margin-bottom: 15px;
  font-weight: bold;
}

button {
  background: transparent;
  border: 1px solid #58a6ff;
  color: #58a6ff;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background: #58a6ff;
  color: black;
}
